# Ignore configuration files that may contain sensitive information.
/web/sites/*/settings*.php
/web/sites/*/civicrm.settings*.php
!/web/sites/*/civicrm.settings.additional.php
**/.civicrm-staging
/drush/drush.yml
/web/sites/all/translations/*
.env
.vscode
**/drushrc.php
**/civicrm/vendor/dompdf/dompdf/lib/fonts/*php
**/civicrm/vendor/dompdf/dompdf/lib/fonts/*json
!**/civicrm/vendor/dompdf/dompdf/lib/fonts/installed-fonts.dist.json

# Ignore paths that contain user-generated content.
/web/sites/*/files
!/web/sites/*/files/civicrm
/web/sites/*/files/civicrm/*
!/web/sites/*/files/civicrm/ext

/web/sites/*/private

**/.DS_Store
htpasswd
.sass-cache
{% if canonical_bare_url is not none %}
{% include "files/" + canonical_bare_url + "/gitignore-include.j2" ignore missing %}
{% endif %}
