# Ignore configuration files that may contain sensitive information.
/web/sites/*/settings*.php
/web/sites/*/civicrm.settings*.php
!/web/sites/*/civicrm.settings.additional.php
**/.civicrm-staging
/drush/drush.yml
/web/sites/all/translations/*
.env
.vscode

# Ignore paths that contain user-generated content.
/web/sites/*/files
/web/sites/*/private

#Ignore D8 stuff.
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/private

# Ignore Megaphone stuff.
/sql-dumps/*
**/.DS_Store
/web/htpasswd
{% if canonical_bare_url is not none %}
{% include "files/" + canonical_bare_url + "/gitignore-include.j2" ignore missing %}
{% endif %}
