# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/civicrm.settings*.php
**/drushrc.php
sites/all/translations/*
**/civicrm/vendor/dompdf/dompdf/lib/fonts/*php
**/civicrm/vendor/dompdf/dompdf/lib/fonts/*json

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

**/.DS_Store
htpasswd
.sass-cache
{% if canonical_bare_url is not none %}
{% include "files/" + canonical_bare_url + "/gitignore-include.j2" ignore missing %}
{% endif %}
