<VirtualHost *:80>
  DocumentRoot {{ item.value.webroot }}
  ServerName {{ item.key }}

  ProxyPassMatch ^/(.*\.php(/.*)?)$ "unix:/var/run/php/php-fpm-{{ item.key }}.sock|fcgi://localhost{{ item.value.webroot }}"
  RedirectMatch 404 /\.git
<Directory "{{ item.value.webroot }}">
  AllowOverride All
  Options -Indexes
{% if item.value.env == 'Test' %}
  AuthType Basic
  AuthName "Restricted Content"
  AuthUserFile {{ item.value.webroot }}/htpasswd
  Require valid-user
  Order allow,deny
  Allow from {{ ansible_host }}
  satisfy any
{% else %}
  Require all granted
{% endif %}
</Directory>
</VirtualHost>

