<VirtualHost *:80>
  DocumentRoot {{ webroot }}
  ServerName {{ bare_url }}

  ProxyPassMatch ^/(.*\.php(/.*)?)$ "unix:/var/run/php/php-fpm-{{ bare_url }}.sock|fcgi://localhost{{ webroot }}"
  RedirectMatch 404 /\.git
<Directory "{{ webroot }}">
  AllowOverride All
  Options -Indexes
{% if env == 'Test' %}
  AuthType Basic
  AuthName "Restricted Content"
  AuthUserFile {{ webroot }}/htpasswd
  Require valid-user
  Order allow,deny
  Allow from {{ ansible_ssh_host }}
  satisfy any
{% else %}
  Require all granted
{% endif %}
</Directory>
</VirtualHost>

