{% if 'pantheon' not in group_names %}
wp-config.php
.htaccess
{% endif %}
*.log
wp-config-local.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/backupwordpress-*/
wp-content/backups-dup-pro/
wp-content/blogs.dir/
wp-content/cache/
wp-content/et-cache/
wp-content/gallery/
wp-content/gravatars/
wp-content/managewp/backups/
wp-content/updraft/
wp-content/upgrade/
wp-content/uploads/
wp-content/wflogs/
wp-content/wp-cache-config.php
.well-known
wp-cli.local.yml

**/.DS_Store
htpasswd
{% if canonical_bare_url is not none %}
{% include "files/" + canonical_bare_url + "/gitignore-include.j2" ignore missing %}
{% endif %}
